Package: com.serena.lowercased
Name: DiscordLowercased
Version: 0.0.1
Architecture: iphoneos-arm
Description: Lowercase all messages on Discord
Maintainer: Serena
Author: Serena
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
